*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    padding: 20px;
    justify-content: space-around;
}
nav div h3 a{
    text-decoration: none;
    color: black;
}footer{
 background-color: black;
 color: white;
 display: flex;
 justify-content: center;
 text-align: center;
 gap: 80px;
 padding: 30px;
}
footer h3{
    font-weight: 200;
}
footer h5{
    font-weight: 100;
}
 .container5{
    border: solid white 2px;
    border-left: none;
    border-right: none;
    gap: 150px;
 }