*{
    box-sizing: border-box;
    margin: ;
    padding: 0px;
}
nav{
    display: flex;
    padding: 40px;
    gap: 100px;   
}
nav div a{
    text-decoration: none;
    color: black;
}
.icon-size{
    width: 20.83px;
    height: 35.33px;
}
.container{
 justify-items: center;
}
footer{
 background-color: black;
 color: white;
 display: flex;
 justify-content: center;
 text-align: center;
 gap: 80px;
 padding: 30px;
}
footer h3{
    font-weight: 200;
}
footer h5{
    font-weight: 100;
}
 .container5{
    border: solid white 2px;
    border-left: none;
    border-right: none;
    gap: 150px;
 }
 .containerflex{
    display: flex;
    justify-content: space-between;
    gap: 4px;

 }

 @media (max-width:480px) {
    .containerflex{
        display: none;
    }
    .roundedContiner{
        margin: auto;
        align-items: center;
        display: flex;
        justify-content:center;
    }
    .line{
        border: solid red 2px;
        height: 2px;
        width: 100px;
    }
    .roundcircle{
        border: solid red 2px;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
    }
    .roundcircle1{
        border: solid #9A949433 2px;
        height: 50px;
        width: 50px;
        color: #1D1213;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
    }
        .form1 div input{
       width: 300px;
       padding: 10px 2px 10px;
       border-radius: 15px;
       margin-bottom: 20px;
    }
    .form1 div select{
        width: 300px;
        padding: 10px 5px 10px;
        border-radius: 15px;
        margin-bottom: 20px;
    }
    .form1 div button{
        background-color: #f3687f;
        color: white;
        padding: 8px;
        width: 130px;
        font-size: 20px;
        border: none;
        border-radius: 6px;
    }
    .form1{
        justify-items: center;
    }
    .container{
        justify-content: center;
        display: flex;
        gap: 28px;
        background-color: #1D1213;
    }
    .container1 h3{
        text-align: center;
        color: white;
        background-color: #1D1213;
    }
    .container2{
        justify-content: center;
        gap: 20px;
        background-color: #1D1213;
    }
    .container2{
        display: flex;
    }
    .container5 div{
        display: flex;
        gap: 10px;
        border:solid black 2px;
    }
    .container4{
        display: flex;
        gap: 15px;
    }
 }
 @media (max-width:768px) {
    .containerflex{
        display: none;
    }
    .roundedContiner{
        margin: auto;
        align-items: center;
        display: flex;
        justify-content:center;
    }
    .line{
        border: solid red 2px;
        height: 2px;
        width: 100px;
    }
    .roundcircle{
        border: solid red 2px;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
    }
    .roundcircle1{
        border: solid #9A949433 2px;
        height: 50px;
        width: 50px;
        color: #1D1213;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
    }
    .form1 div input{
       width: 300px;
       padding: 10px 2px 10px;
       border-radius: 15px;
       margin-bottom: 20px;
    }
    .form1 div select{
        width: 300px;
        padding: 10px 5px 10px;
        border-radius: 15px;
        margin-bottom: 20px;
    }
    .form1 div button{
        background-color: #f3687f;
        color: white;
        padding: 8px;
        width: 130px;
        font-size: 20px;
        border: none;
        border-radius: 6px;
        margin-bottom: 20px;
    }
    .form1{
        justify-items: center;
    }
 }      .container1 h3{
        text-align: center;
        color: white;
        background-color: #1D1213;
    }
    .container2{
        justify-content: center;
        gap: 20px;
        background-color: #1D1213;
    }
    .container2{
        display: flex;
    }
    .container5 div{
        display: flex;
        gap: 10px;
        border:solid black 2px;
    }
    .container4{
        display: flex;
        gap: 15px;
    }
    .container{
        justify-content: center;
        display: flex;
        gap: 28px;
        background-color: #1D1213;
    }
    @media (max-width:979px) {
    .containerflex{
        display: none;
    }
    .roundedContiner{
        margin: auto;
        align-items: center;
        display: flex;
        justify-content:center;
    }
    .line{
        border: solid red 2px;
        height: 2px;
        width: 100px;
    }
    .roundcircle{
        border: solid red 2px;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
    }
    .roundcircle1{
        border: solid #9A949433 2px;
        height: 50px;
        width: 50px;
        color: #1D1213;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
    }
    .form1 div input{
       width: 300px;
       padding: 10px 2px 10px;
       border-radius: 15px;
       margin-bottom: 20px;
    }
    .form1 div select{
        width: 300px;
        padding: 10px 5px 10px;
        border-radius: 15px;
        margin-bottom: 20px;
    }
    .form1 div button{
        background-color: #f3687f;
        color: white;
        padding: 8px;
        width: 130px;
        font-size: 20px;
        border: none;
        border-radius: 6px;
        margin-bottom: 20px;
    }
    .form1{
        justify-items: center;
    }
 }      .container1 h3{
        text-align: center;
        color: white;
        background-color: #1D1213;
    }
    .container2{
        justify-content: center;
        gap: 20px;
        background-color: #1D1213;
    }
    .container2{
        display: flex;
    }
    .container5 div{
        display: flex;
        gap: 10px;
        border:solid black 2px;
    }
    .container4{
        display: flex;
        gap: 15px;
    }
    .container{
        justify-content: center;
        display: flex;
        gap: 28px;
        background-color: #1D1213;
    } 
    @media (max-width:980px) {
     .navbar{
        display: block;
     }
     .nav-toggler-icon{
        display: none;
     } 
    }
