*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
 }
div .navbar{
justify-content: space-between;
color: white;
padding: 40px;
}
.container1 .card-img{
    filter: opacity(1);
}
p.card-text{
    font-size: 70px;
    color: white;
    padding-left: 150px;
    padding-top: 300px;
}

.container2{
    display: flex;
    padding-left: 220px;
    padding-bottom: 20px;
    gap: 5px;
}
.container3{
    display: flex;
    padding-left: 220px;
    padding-bottom: 20px;
    gap: 5px;
}
section .container1{
     display: flex;
    padding-left: 180px;
    padding-bottom: 20px;
    gap: 5px;
}
footer{
 background-color: black;
 color: white;
 display: flex;
 justify-content: center;
 text-align: center;
 gap: 80px;
 padding: 30px;
}
footer h3{
    font-weight: 200;
}
footer h5{
    font-weight: 100;
}
 .container5{
    border: solid white 2px;
    border-left: none;
    border-right: none;
    gap: 150px;
 }
