*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.dash{
    font-size: 50px;
    margin: 0%;
    
}
.container1{
    border-top: solid white 1px;
    border-bottom: solid white 3px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    
}
