*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
}
div{
    width: 700px;
    border: solid black;
    
    
}
button{
    padding: 10px;
    width: 300px;
    color: white;
    font-size: 20px;
    background-color: #f3687f;
    border-radius: 10px;
    border: none;
}
footer{
background-color:#f3687f;
width: auto
}
.container2{
    padding: 10px;
    color: white;
    background-color: black;
    display: flex;
    gap: 18px;
}
.container3{
  padding: 10px;
  color: white;
  background-color: black;
  display: flex;
  border: solid white;
  border-left: none;
  border-right: none;
}


